src/main/resources/static/css/app.css linguist-vendored
src/main/resources/static/css/font-awesome.min.css linguist-vendored
src/main/resources/templates/auth/base.html linguist-vendored
src/main/resources/templates/base/main.html linguist-vendored
