<html layout:decorate="~{base/main}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head></head>
    <body>
        <section class="row" layout:fragment="mainContent">
            <div class="col-12 col-lg-9">
                <div class="card">
                    <div class="card-header">
                        <h4>Home page content</h4>
                    </div>
                    <div class="card-body">
                        <p>home page content</p>
                        <div th:if="${appData.isUserAuth()}" th:remove="tag">
                            <hr>
                            <p>content for registered users</p>
                        </div>
                        <hr>
                        <p><a class="btn btn-primary btn-sm" onclick="createDefaultUsers()">create default users</a> create three users: admin, user and editor, with "q" password</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="row">
                    <div class="card">
                        <div class="card-header">
                            <h4>Side menu</h4>
                        </div>
                        <div class="card-body">
                            side menu content
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="row" layout:fragment="javaScript" th:remove="tag">
            <script type="text/javascript" src="/static/js/jquery.min.js"></script>
            <script>
                function createDefaultUsers() {
                    $.ajax({
                        type: "GET",
                        url: "/pages/create",
                        success: function(answer) {
                            console.log(answer);
                            alert(answer.value);
                        }
                    });
                }
            </script>
        </section>
    </body>
</html>