<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:text="${appData.getSystemInfo().getSystemName()}"></title>
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/app.css">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/other.css">
        <link rel="shortcut icon" href="/static/favicon.ico" />
    </head>
    <body>
        <div id="app">
            <div id="main" class="layout-horizontal">
                <header class="mb-4">
                    <div class="header-top">
                        <div class="container">
                            <div class="logo">
                                <a href="/"><i class="fa fa-users"></i> <span th:text="${appData.getSystemInfo().getSystemName()}" th:remove="tag"></span></a>
                            </div>
                            <div class="header-top-right">
                                <div th:if="${appData.isUserAuth()}" th:remove="tag">
                                    <a href="/auth/logout"><i class="fa fa-sign-out fs-4"></i>Log out (<span th:text="${appData.getUserUsername()}" th:remove="tag"></span>)</a>
                                </div>
                                <div th:unless="${appData.isUserAuth()}" th:remove="tag">
                                    <a href="/auth/login"><i class="fa fa-sign-in fs-4"></i>Log in</a>
                                    <a href="/auth/register"><i class="fa fa-user fs-4"></i>Sign up</a>
                                </div>
                                <a href="#" class="burger-btn"><i class="fa fa-bars fs-4"></i></a>
                            </div>
                        </div>
                    </div>
                    <nav class="main-navbar">
                        <div class="container" th:insert="base/menu.html">
                        </div>
                    </nav>
                </header>

                <div class="content-wrapper container">
                    <div class="page-heading" th:if="${appData.getPageInfo()}">
                        <h3><i class="fa" th:classappend="${'fa-' + appData.getPageInfo().getIcon()}"></i><span th:text="${appData.getPageInfo().getTitle()}"></span></h3>
                    </div>
                    <div class="page-content" layout:fragment="mainContent">
                    </div>
                </div>

                <footer>
                    <div class="container"><div class="footer clearfix mb-0 text-muted">
                        <div class="float-start"><p>Footer left</p></div>
                        <div class="float-end"><p>Footer right</p></div>
                    </div></div>
                </footer>
            </div>
        </div>
        <script src="/static/js/bootstrap.bundle.min.js"></script>
        <script src="/static/js/horizontal-layout.js"></script>
        <div layout:fragment="javaScript" th:remove="tag"></div>
    </body>
</html>
